{% extends '/base.html.twig' %}

{% block main %}
    {% for book in books %}
        <article>
            <h1>{{ book.title }}</h1>
            <p>{{ book.author }}</p>
        </article>
    {% endfor %}
{% endblock %}
{% block footer %}
    <p>Je suis le footer des résultats de recherche</p>
{% endblock %}