{% extends '/base.html.twig' %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block main %}
    <h1>Bonne visite</h1>
{% endblock %}

{% block footer %}
    <p>Footer Page d'accueil</p>
{% endblock %}